In [1]:
import pandas as pd
import numpy as np

vehicles = pd.read_csv('./data/vehicles.csv')

In [2]:
# Get a pivot table where the index is vehicle class
vehicles.pivot_table(index=["Vehicle Class"]).head()

,CO2 Emission Grams/Mile,City MPG,Combined MPG,Cylinders,Engine Displacement,Fuel Barrels/Year,Fuel Cost/Year,Highway MPG,Year
Vehicle Class,,,,,,,,,
Compact Cars,396.758088,20.570685,23.373385,4.837223,2.469296,14.705935,1612.295082,28.210222,2001.097589
Large Cars,484.391278,16.130310,18.936854,7.128588,4.152354,17.893457,1992.680827,23.989667,2004.792193
Midsize Cars,432.861095,18.950775,21.670441,5.665026,3.148929,16.059481,1768.028550,26.569776,2002.438100
Midsize Station Wagons,432.128533,18.360577,21.024038,5.173077,2.706490,16.029417,1826.682692,25.627404,2004.108173
Midsize-Large Station Wagons,452.981561,17.590837,19.924171,5.113744,2.847867,16.807043,1722.590837,23.984202,1989.941548

In [3]:
# Group DF based on Vehicle Class and show values for each unique value in 'Cylinders'
vehicles.pivot_table(index=["Vehicle Class"], columns=["Cylinders"]).head()

                             CO2 Emission Grams/Mile                          \
Cylinders                                       2.0         3.0         4.0
Vehicle Class
Compact Cars                                     NaN  243.666667  359.664477
Large Cars                                       NaN         NaN  378.225886
Midsize Cars                                     NaN         NaN  358.033422
Midsize Station Wagons                           NaN         NaN  388.835273
Midsize-Large Station Wagons                     NaN         NaN  433.088892

                                                                              \
Cylinders                           5.0         6.0         8.0         10.0
Vehicle Class
Compact Cars                  410.342455  448.236147  550.880512         NaN
Large Cars                           NaN  439.084500  522.153991         NaN
Midsize Cars                  455.120960  443.496348  545.353319  629.830939
Midsize Station Wagons        440.555715  455.490145  539.650696         NaN
Midsize-Large Station Wagons  473.112667  464.888691  505.575496         NaN

                                              City MPG  ... Highway MPG Year  \
Cylinders                           12.0 16.0     2.0   ...        16.0 2.0
Vehicle Class                                           ...
Compact Cars                  648.289761  NaN      NaN  ...         NaN  NaN
Large Cars                    645.151820  NaN      NaN  ...         NaN  NaN
Midsize Cars                  687.734218  NaN      NaN  ...         NaN  NaN
Midsize Station Wagons               NaN  NaN      NaN  ...         NaN  NaN
Midsize-Large Station Wagons         NaN  NaN      NaN  ...         NaN  NaN

                                                                     \
Cylinders                            3.0          4.0          5.0
Vehicle Class
Compact Cars                  2015.666667  2000.506620  2004.829384
Large Cars                            NaN  2005.731034          NaN
Midsize Cars                          NaN  2003.884058  1994.795181
Midsize Station Wagons                NaN  2004.369427  2002.770270
Midsize-Large Station Wagons          NaN  1990.330303  1990.545455

                                                                     \
Cylinders                            6.0          8.0          10.0
Vehicle Class
Compact Cars                  2000.492887  2005.281879          NaN
Large Cars                    2004.765101  2003.966387          NaN
Midsize Cars                  2001.656977  2001.524812  2008.411765
Midsize Station Wagons        2004.042945  2007.227273          NaN
Midsize-Large Station Wagons  1989.578431  1988.818182          NaN


Cylinders                            12.0 16.0
Vehicle Class
Compact Cars                  2008.557143  NaN
Large Cars                    2008.224638  NaN
Midsize Cars                  2007.250000  NaN
Midsize Station Wagons                NaN  NaN
Midsize-Large Station Wagons          NaN  NaN

[5 rows x 72 columns]

In [4]:
# Map 'Combined MPG' to each 'Vehicle Class' by aggrgating the values
vehicles.pivot_table(index=["Vehicle Class"], values=["Combined MPG"], aggfunc=np.sum).head()

                              Combined MPG
Vehicle Class
Compact Cars                        121191
Large Cars                           32988
Midsize Cars                         88047
Midsize Station Wagons                8746
Midsize-Large Station Wagons         12612

In [5]:
# Map 2 columns to the 'Vehicle Class' index
vehicles.pivot_table(index=["Vehicle Class"], values=["Combined MPG", "CO2 Emission Grams/Mile"]).head()

                              CO2 Emission Grams/Mile  Combined MPG
Vehicle Class
Compact Cars                               396.758088     23.373385
Large Cars                                 484.391278     18.936854
Midsize Cars                               432.861095     21.670441
Midsize Station Wagons                     432.128533     21.024038
Midsize-Large Station Wagons               452.981561     19.924171

In [6]:
# Replace empty (NaN) values with 0 using fill_value=
vehicles.pivot_table(index=["Vehicle Class"], columns=["Cylinders"], values=["Combined MPG"], fill_value=0).head()

                             Combined MPG                                   \
Cylinders                            2.0        3.0        4.0        5.0
Vehicle Class
Compact Cars                          0.0  36.333333  25.381877  21.943128
Large Cars                            0.0   0.000000  24.275862   0.000000
Midsize Cars                          0.0   0.000000  25.830698  19.710843
Midsize Station Wagons                0.0   0.000000  23.515924  20.229730
Midsize-Large Station Wagons          0.0   0.000000  20.769697  19.030303


Cylinders                          6.0        8.0        10.0       12.0 16.0
Vehicle Class
Compact Cars                  20.051046  16.536913   0.000000  13.757143    0
Large Cars                    20.379866  17.323529   0.000000  13.884058    0
Midsize Cars                  20.336047  16.837594  14.235294  13.050000    0
Midsize Station Wagons        19.582822  16.590909   0.000000   0.000000    0
Midsize-Large Station Wagons  19.397059  17.772727   0.000000   0.000000    0

In [7]:
# Compute the correlation (Pearson correlation) between city MPG and highway MPG
vehicles['City MPG'].corr(vehicles['Highway MPG'])

0.92385558852884

In [8]:
# Compute correlation (Pearson correlation) matrix for each pair of columns in the DataFrame
vehicles.corr()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Year,1.000000,0.037876,0.082469,-0.221084,0.161818,0.267259,0.204751,-0.222300,-0.091913
Engine Displacement,0.037876,1.000000,0.901858,0.789752,-0.740317,-0.715039,-0.746782,0.803520,0.769678
Cylinders,0.082469,0.901858,1.000000,0.739517,-0.703866,-0.650287,-0.698648,0.752393,0.778153
Fuel Barrels/Year,-0.221084,0.789752,0.739517,1.000000,-0.877752,-0.909664,-0.909743,0.986189,0.916208
City MPG,0.161818,-0.740317,-0.703866,-0.877752,1.000000,0.923856,0.985457,-0.894139,-0.858645
Highway MPG,0.267259,-0.715039,-0.650287,-0.909664,0.923856,1.000000,0.969392,-0.926405,-0.851404
Combined MPG,0.204751,-0.746782,-0.698648,-0.909743,0.985457,0.969392,1.000000,-0.926229,-0.875185
CO2 Emission Grams/Mile,-0.222300,0.803520,0.752393,0.986189,-0.894139,-0.926405,-0.926229,1.000000,0.930865
Fuel Cost/Year,-0.091913,0.769678,0.778153,0.916208,-0.858645,-0.851404,-0.875185,0.930865,1.000000

In [9]:
# Compute Spearman correlation
vehicles.corr(method='spearman')

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Year,1.000000,0.051370,0.068727,-0.214857,0.157137,0.266934,0.205080,-0.215108,-0.091437
Engine Displacement,0.051370,1.000000,0.927979,0.827152,-0.848167,-0.754080,-0.824065,0.831333,0.794755
Cylinders,0.068727,0.927979,1.000000,0.784595,-0.818672,-0.698356,-0.783362,0.788777,0.790481
Fuel Barrels/Year,-0.214857,0.827152,0.784595,1.000000,-0.974144,-0.963335,-0.990364,0.995539,0.919069
City MPG,0.157137,-0.848167,-0.818672,-0.974144,1.000000,0.930120,0.985062,-0.979787,-0.928713
Highway MPG,0.266934,-0.754080,-0.698356,-0.963335,0.930120,1.000000,0.970769,-0.968693,-0.876067
Combined MPG,0.205080,-0.824065,-0.783362,-0.990364,0.985062,0.970769,1.000000,-0.995258,-0.926078
CO2 Emission Grams/Mile,-0.215108,0.831333,0.788777,0.995539,-0.979787,-0.968693,-0.995258,1.000000,0.922723
Fuel Cost/Year,-0.091437,0.794755,0.790481,0.919069,-0.928713,-0.876067,-0.926078,0.922723,1.000000

In [10]:
# Compute Kendall's Tau correlation coefficient
vehicles['City MPG'].corr(vehicles['Highway MPG'], method="kendall")

0.8171408108342495